@model MVC_Escuela.view_AlumnosGrupos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>view_AlumnosGrupos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Grupo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grupo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Alumno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Alumno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Profesor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Profesor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Materia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Materia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Horario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Horario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
